@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --night: 220 26% 14%;
    --battleship-gray: 0 0% 60%;
    --white-smoke: 0 0% 96%;
    --blue-crayola: 209 62% 50%;
    --yale-blue: 211 61% 43%;

    --background: var(--white-smoke);
    --foreground: var(--night);

    --primary: var(--white-smoke);
    --primary-foreground: var(--night);

    --secondary: var(--blue-crayola);
    --secondary-foreground: var(--white-smoke);

    --accent: var(--yale-blue);
    --accent-foreground: var(--white-smoke);

    --muted: var(--battleship-gray);
    --muted-foreground: var(--white-smoke);

    --destructive: 0, 100%, 60%;
    --destructive-foreground: var(--white-smoke);

    --card: var(--white-smoke);
    --card-foreground: var(--night);

    --popover: var(--white-smoke);
    --popover-foreground: var(--night);

    --input: var(--battleship-gray);
    --ring: var(--battleship-gray);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--night);
    --foreground: var(--white-smoke);

    --primary: var(--night);
    --primary-foreground: var(--white-smoke);

    --secondary: var(--yale-blue);
    --secondary-foreground: var(--white-smoke);

    --accent: var(--blue-crayola);
    --accent-foreground: var(--white-smoke);

    --muted: var(--battleship-gray);
    --muted-foreground: var(--white-smoke);

    --card: var(--night);
    --card-foreground: var(--white-smoke);

    --popover: var(--night);
    --popover-foreground: var(--white-smoke);

    --input: var(--battleship-gray);
    --ring: var(--blue-crayola);
  }

  * {
    @apply border-solid;
  }

  body {
    @apply bg-background text-foreground;
  }

  pre,
  code {
    font-family: var(--font-jetbrains);
  }
}
