@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Azure Fresh color palette */
    --background: 204 100% 96%;
    --foreground: 0 0% 19%;

    --card: 204 100% 96%;
    --card-foreground: 0 0% 19%;

    --popover: 204 100% 96%;
    --popover-foreground: 0 0% 19%;

    --primary: 199 97% 42%;
    --primary-foreground: 198 87% 28%;

    --secondary: 198 87% 28%;
    --secondary-foreground: 199 97% 42%;

    --muted: 0 0% 60%;
    --muted-foreground: 0 0% 19%;

    --accent: 199 97% 42%;
    --accent-foreground: 198 87% 28%;

    --destructive: 0 0% 19%;
    --destructive-foreground: 204 100% 96%;

    --border: 0 0% 60%;
    --input: 0 0% 60%;
    --ring: 204 100% 96%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 19%;
    --foreground: 204 100% 96%;

    --card: 0 0% 19%;
    --card-foreground: 204 100% 96%;

    --popover: 0 0% 19%;
    --popover-foreground: 204 100% 96%;

    --primary: 204 100% 96%;
    --primary-foreground: 199 97% 42%;

    --secondary: 199 70% 40%;
    --secondary-foreground: 204 100% 96%;

    --muted: 199 70% 40%;
    --muted-foreground: 204 100% 96%;

    --accent: 199 70% 40%;
    --accent-foreground: 204 100% 96%;

    --destructive: 199 70% 40%;
    --destructive-foreground: 204 100% 96%;

    --border: 199 70% 40%;
    --input: 199 70% 40%;
    --ring: 0 0% 84%;
  }

  * {
    @apply border-solid;
  }

  body {
    @apply bg-background text-foreground;
  }

  .bg-border-color {
    background-color: hsl(var(--primary));
  }
}

